@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F9FAFD;
}

.Montserrat-text{
    font-family: 'Montserrat Alternates', sans-serif;
}

.poppins-text{
    font-family: 'Poppins', sans-serif;
}

.text-xsm{
    font-size: 12px;
}

.shadows{
    -webkit-box-shadow: 0px 0px 26px -20px rgba(0,0,0,0.20  );
    -moz-box-shadow: 0px 0px 26px -20px rgba(0,0,0,0.20 );
    box-shadow: 0px 0px 26px -20px rgba(0,0,0,0.20  );
}

.loginPageBackground{
    background-image: url('../src/assets/Rectangle\ 27.png');
}

.Sidebar-collapse .sideMenu{
    visibility: visible;
    /* transition: all 3s ease;
    animation-duration: 1s all ease; */
    transform: translateX(0);
}

.Sidebar-collapse .sidebar-overlay{
    opacity: 100;
    visibility: visible;
}

.shadow-custom{
    box-shadow: 0px 0px 20px 0px #0000000f
}