@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F9FAFD;
}

.Montserrat-text{
    font-family: 'Montserrat Alternates', sans-serif;
}

.poppins-text{
    font-family: 'Poppins', sans-serif;
}

.text-xsm{
    font-size: 12px;
}

.shadows{
    -webkit-box-shadow: 0px 0px 26px -20px rgba(0,0,0,0.20  );
    -moz-box-shadow: 0px 0px 26px -20px rgba(0,0,0,0.20 );
    box-shadow: 0px 0px 26px -20px rgba(0,0,0,0.20  );
}

.loginPageBackground{
    background-image: url('../src/assets/bgImage.png');
}

.Sidebar-collapse .sideMenu{
    visibility: visible;
    /* transition: all 3s ease;
    animation-duration: 1s all ease; */
    transform: translateX(0);
}

.Sidebar-collapse .sidebar-overlay{
    opacity: 100;
    visibility: visible;
}

.shadow-custom{
    box-shadow: 0px 0px 20px 0px #0000000f
}



.slect-allchk label {
    margin: 0;
    position: relative;
    text-align: left;
    display: block;
    cursor: pointer
}

.slect-allchk label input[type=checkbox] {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    margin: 0
}

.slect-allchk label input[type=checkbox]~span {
    position: relative;
    margin: 0;
    height: 22px;
    width: 22px;
    border: 2px solid #a5a5a5;
    display: block;
    border-radius: 4px
}

.slect-allchk label input[type=checkbox]~span:before {
    content: "";
    position: absolute;
    inset: 1px 0 0;
    height: 14px;
    width: 7px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: rotate(45deg);
    margin: 0 auto
}

.slect-allchk label input[type=checkbox]:checked~span {
    border-color: #3c3cff
}

.slect-allchk label input[type=checkbox]:checked~span:before {
    border-bottom-color: #3c3cff;
    border-right-color: #3c3cff
}

.rdobtn-card label {
    position: relative
}

.rdobtn-card label input[type=radio] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    bottom: 0;
    margin: 0
}

.rdobtn-card label input[type=radio]~span {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
}

.rdobtn-card label input[type=radio]~span em {
    display: block;
    font-style: normal;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #d4d2d2;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 10px
}

.rdobtn-card label input[type=radio]~span em:before {
    content: "";
    background: #d4d2d2;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%
}

.rdobtn-card label input[type=radio]~span i {
    color: #000;
    display: block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal
}

.rdobtn-card label input[type=radio]:checked~span em {
    border-color:  #D54049;
}

.rdobtn-card label input[type=radio]:checked~span em:before {
    background: #D54049
}