@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F9FAFD;
}

.Montserrat-text{
    font-family: 'Montserrat Alternates', sans-serif;
}

.poppins-text{
    font-family: 'Poppins', sans-serif;
}

.text-xsm{
    font-size: 12px;
}

.shadows{
    -webkit-box-shadow: 0px 0px 26px -20px rgba(0,0,0,0.20  );
    -moz-box-shadow: 0px 0px 26px -20px rgba(0,0,0,0.20 );
    box-shadow: 0px 0px 26px -20px rgba(0,0,0,0.20  );
}

.loginPageBackground{
    background-image: url('../src/assets/bgImage.png');
}

.Sidebar-collapse .sideMenu{
    visibility: visible;
    /* transition: all 3s ease;
    animation-duration: 1s all ease; */
    transform: translateX(0);
}

.Sidebar-collapse .sidebar-overlay{
    opacity: 100;
    visibility: visible;
}

.shadow-custom{
    box-shadow: 0px 0px 20px 0px #0000000f
}



.slect-allchk label {
    margin: 0;
    position: relative;
    text-align: left;
    display: block;
    cursor: pointer
}

.slect-allchk label input[type=checkbox] {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    margin: 0
}

.slect-allchk label input[type=checkbox]~span {
    position: relative;
    margin: 0;
    height: 22px;
    width: 22px;
    border: 2px solid #a5a5a5;
    display: block;
    border-radius: 4px
}

.slect-allchk label input[type=checkbox]~span:before {
    content: "";
    position: absolute;
    inset: 1px 0 0;
    height: 14px;
    width: 7px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: rotate(45deg);
    margin: 0 auto
}

.slect-allchk label input[type=checkbox]:checked~span {
    border-color: #3c3cff
}

.slect-allchk label input[type=checkbox]:checked~span:before {
    border-bottom-color: #3c3cff;
    border-right-color: #3c3cff
}